/* Summery of style guide
1. Global
2. Header
    - logo
    - Filters
    - Navigation
    - Search
4. branding
5. footer
6. Cards

*/

/* 1. Global ******************/
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body, html{
	font-size:14px;
	height:100%;
}
.container {
	max-width: 95%;
	width:100%;
	margin: 0 auto;
	padding: 10px 0;
}
pre{
	white-space: pre-wrap;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
/* 1. Header ******************/
header{
	position: fixed;
	top: 0;
	left:0;
	right:0;
	text-align:center;
	border-bottom: solid 1px #ddd;
	z-index: 10;
    background: #f3f3f3;
}
menu{
    background: #fff;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ececec;
}
.search--input {
    padding: 10px;
    width: 100%;
    border: #DDD solid 1px;
}
.search--input {
    background:#fff url("../img/ico-search.svg") no-repeat 99.2% 50%;
    background-size: 19px;
}
.logo {
	font-size: 24px;
	display: inline-block;
	margin: 0;
	text-shadow: 2px 1px 0 #fff;
	color: #666;
	float: left;
}
.logo--top {
    width: 36px;
    height: 30px;
    position: relative;
    border-top: solid 7px #259ADE;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.logo--top:before, .logo--top:after {
    content: '';
    position: absolute;
    background-color: #259ADE;
}
.logo--top:before {
    width: 17px;
    bottom: 0;
    height: 5px;
    left:0;
}
.logo--top:after {
    top: 6px;
    left: 13px;
    width: 14px;
    height:6px;
}
.logo--bottom {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 140, 0);
    border-radius: 10px;
    margin-top: 4px;
}
.logo > span {
    vertical-align: middle;
    display: inline-block;
    color: #0085B7;
    font-size: 20px;
    text-align: left;
    font-weight: 800;
}
.logo > span em {
    color: #999;
    font-size: 10px;
    display: block;
    position: relative;
    margin-top: -5px;
    font-style: normal;
    font-weight: normal;
    padding-top: 5px;
}
.filters {
    display: inline-block;
    padding-top: 6px;
}
.filters li {
    float:left;
	position:relative;
	margin-left: 1px;
}
.filters--dropdown{
	display: inline-block;
	position: relative;
}
.filters > li label{
    color: #fff;
    text-decoration: none;
    padding: 5px 6px 5px 23px;
    cursor:pointer;
    -webkit-user-select: none;/* Chrome all / Safari all */
    -moz-user-select: none;/* Firefox all */
    -ms-user-select: none;/* IE 10+ */
    user-select: none;
	-webkit-transition: background ease-out 0.3s;
    -moz-transition: background ease-out 0.3s;
    -o-transition: background ease-out 0.3s;
    transition: background ease-out 0.3s;
    display:block;
    background-image: url(../img/selected_checkbox.png);
    background-repeat: no-repeat;
    background-position: 6px 7px;
    background-size: 13px;
}
.filters li input[type=checkbox]{
	position:absolute;
	visibility:hidden
}
.btn-jq {
    background-color: #82D60B;
}
.btn-js {
    background-color: #F1C40F;
}
.btn-ng {
    background-color: #E52A3A;
}
.btn-yui {
    background-color: #DA429C;
}
.btn-aui {
    background-color: #2bb2e4;
}
input[type=checkbox]:not(:checked) + label{
    background-image: url(../img/normal_checkbox.png);
}
.filter--dropdown > label.btn-fl{
    padding-right: 23px;
    background-color: #FF8C00;
    padding-left: 6px;
    background-image: none;
}
.filter--dropdown > label.btn-fl:focus + .filter--dropdown-list, .filter--dropdown > label.btn-fl:hover + .filter--dropdown-list, .filter--dropdown-list:hover{
    display: block
}
.filter--dropdown > label:before {
    content: '';
    position: absolute;
    right: 6px;
    top: 11px;
    border-top: solid 6px #CC7206;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}
.filter--dropdown-list {
    position: absolute;
    text-align: left;
    background-color: #FF8C00;
    top: 27px;
    display:none;
    z-index:1;
}
.filter--dropdown-list li {
    border: solid 1px #DF7B03;
    display: block;
    margin: -1px 0 0;
    float: none;
}
.filter--dropdown-list a {
    padding: 5px 8px;
    display: block;
    color:#fff;
    text-decoration:none
}
.filter--dropdown-list a:hover {
    background-color: #E0953B;
}
.mobile-menu{
    float:right
}
.cards-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 145px;
    min-height: 100%;
}
.cards-wrapper section{
    width:100%;
    padding-bottom:63px;
}
.card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.card-group--head {
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 9;
    top: 111px;
    max-width: 95%;
    margin: 0 auto;
}
.card {
    position:relative;
}
.card-group .card {
    display:table-cell;
    vertical-align:top;
    transition:all 0.5s ease;
}
.card-head h2 {
    margin:0;
    padding:10px 15px;
    word-wrap: break-word;
}
.card-head h2 span {
    font-size:12px;
    margin-left:5px;
}
.cards-container h2 span {
    background-color: #CECBCB;
    text-align: center;
    padding: 3px 6px;
    text-shadow: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgb(128, 128, 128) inset;
    font-size: 11px;
    margin-left: 5px;
    position: relative;
    top: -3px;
}
.card-text{
    padding:15px;
    word-wrap: break-word;
}
#box-jq h2{
	color:#82D60B;
	border-bottom:solid 1px #82D60B;
}
#box-js h2{
	color:#F1C400;
	border-bottom:solid 1px #F1C400;
}
#box-ng h2{
	color: #E52A3A;
	border-bottom:solid 1px #E52A3A;
}
#box-yui h2{
	color: rgba(62, 83, 157, 1);
	border-bottom:solid 1px rgba(62, 83, 157, 1);
}
#box-aui h2{
	color: rgba(74, 180, 229, 1);
	border-bottom: solid 1px rgba(74, 180, 229, 1);
}
.cards-container .card{
    border: 1px solid #e5e5e5;
    border-top:0
}
.card.card__jq{
	border-color: #82D60B;
	background: rgba(137, 222, 16, .03)
}
.card.card__js{
	border-color: rgba(241, 196, 0, .5);
	background: rgba(241, 196, 0, .03);
}
.card.card__ng{
	border-color: rgba(229, 42, 58, .5);
	background: rgba(229, 42, 58, .03);
}
.card.card__yui{
	border-color: rgba(62, 83, 157, 0.5);
	background: rgba(62, 83, 157, .03);
}
.card.card__aui{
	border-color: rgba(74, 180, 229, .5);
	background: rgba(74, 180, 229, .03);
}

.cards-container h2 {
    padding:10px;
    background-color: #f5f5f5;
    margin: 0;
    border: 1px solid #e5e5e5;
    color: #666;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 1px 0 #fff;
}
.validation {
    color: #e47878;
    text-align: center;
    padding: 16px;
    border: solid 1px #e69d9d;
    background-color: #ffffd9;
    display: none;
    font-weight:bold;
}
.validation.checkboxNtf {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 132px;
    right: 0;
    width: 95%;
    margin: 0 auto;
}
.cards-container h2 + .validation{
	display:block;
}
footer {
    background: #f5f5f5;
    text-align: center;
    color: #999;
    font-size: 11px;
    border-top: solid 1px #ddd;
    height: 43px;
    margin-top: -43px;
    position: relative;
}
footer span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}
footer a {
    color: #2881A2;
}
.filters--action label span {display:none;}
.filters--action label:before {content: attr(title);}
@media screen and (max-width: 720px) {
    .filters {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0;
        right: 0;
        top: 52px;
        z-index: 1;
    }
    .filters li{
        flex-grow: 1;
    }
	.filter-wrapper{
		display: block
	}
	header .container{
		padding-bottom:11px;
	}
    header .search {
        margin-top: 21px;
        padding-bottom: 7px;
    }
    .search--input{
        padding:5px
    }
    footer{
		height:auto;
	}
	[class*="card__"]{
		position:relative;
		padding-left:20px;
	}
	[class*="card__"]:after{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 20px;
		text-align: center;
		color: #fff;
		font-size: 12px;
		padding-top: 16px;
	}
	.card.card__jq:after {
		content: 'JQ';
		background-color: #89DE10;
	}
	.card.card__js:after {
		content: 'JS';
		background-color: #F1C400;
	}
	.card.card__ng:after {
		content: 'Ng';
		background-color: #E52A3A;
	}
	.card.card__yui:after {
		content: 'Yui';
		background-color: #3E539D;
	}
	.card.card__aui:after {
		content: 'Aui';
		background-color: #4AB4E5;
	}
	.card-group .card{
		display:block
	}
	.validation.checkboxNtf{
		top:132px
	}
	.cards-wrapper{
		padding-top: 117px;
	}
    .card-group--head{
        display: none;
    }
}
@media (max-width: 480px) {
    .filters--action label span {display:inline;}
    .filters--action label:before {display: none}
}
