<!DOCTYPE HTML>
<html lang="en-US" ng-app="ifIUseApp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>if(iUse)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/style_new.css" />
<link rel="stylesheet" type="text/css" href="css/prism.css" />
<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body ng-controller="ifIUseCtrl">
	<!-- header start -->
<header>
    <menu>
        <div class="container navigation clearfix">
            <a class="logo" href="javascript:void(0)" title="If I Use : Simple JS compare">
                <div class="logo--top">
                    <div class="logo--bottom"></div>
                </div><span>If I Use<em>Simple JS compare</em></span>
            </a>
            <ul class="filters">
                <li class="filter--dropdown">
                    <label class="btn-fl" title="Category Filter">Filter</label>
					<ul class="filter--dropdown-list">
						<li>
							<input type="checkbox" checked="checked" id="chk-inits" ng-click="InitsToggle = !InitsToggle"/>
							<label for="chk-inits" title="Initialization">Initialization</label>
						</li>
						<li>
							<input type="checkbox" checked="checked" id="chk-selectors" ng-click="SelectorsToggle = !SelectorsToggle"/>
							<label for="chk-selectors" title="Selectors">Selectors</label>
						</li>
						<li>
							<input type="checkbox" checked="checked" id="chk-events"  ng-click="EventsToggle = !EventsToggle"/>
							<label for="chk-events" title="Events">Events</label>
						</li>
						<li>
							<input type="checkbox" checked="checked" id="chk-styles"  ng-click="StylesToggle = !StylesToggle"/>
							<label for="chk-styles" title="CSS">CSS</label>
						</li>
					</ul>
                </li>
                <li class="filters--action">
					<input type="checkbox" checked="checked" id="chk-jq" ng-click="jqToggle = !jqToggle"/>
					<label for="chk-jq" class="btn-jq" title="Jquery"><span>Jq</span></label>
				</li>
				<li class="filters--action">
					<input type="checkbox" checked="checked" id="chk-js" ng-click="jsToggle = !jsToggle"/>
					<label for="chk-js" class="btn-js" title="Javascript"><span>Js</span></label>
				</li>
				<li class="filters--action">
					<input type="checkbox" checked="checked" id="chk-ng" ng-click="ngToggle = !ngToggle"/>
					<label for="chk-ng" class="btn-ng" title="Angular"><span>Ng</span></label>
				</li>
				<li class="filters--action">
					<input type="checkbox" id="chk-yui" ng-click="yuiToggle = !yuiToggle" disabled />
                    <label for="chk-yui" class="btn-yui" title="Yui"><span>Yui</span></label>
				</li>
				<li class="filters--action">
					<input type="checkbox" id="chk-aui" ng-click="auiToggle = !auiToggle" disabled />
					<label for="chk-aui" class="btn-aui" title="Aui"><span>Aui</span></label>
				</li>
            </ul>
            
        </div>
    </menu>
    <!-- search container start -->
    <section class="container search">
        <input class="search--input" ng-model="searchCode" placeholder="Search query..." type="search" />
    </section>
    <!-- search container end -->
</header>
<!-- data container start -->
<main class="cards-wrapper">
    <section>
        <div class="validation checkboxNtf">You can compare only 3 scripts all together.</div>
        <!-- card header start -->
        <div class="card-group card-group--head">
				<div class="card card-head" id="box-jq" ng-hide="jqToggle">  
					  <h2>Jquery<span>(vs 2.1.1)<span></h2>
				</div>
				<div class="card card-head" id="box-js" ng-hide="jsToggle">
					  <h2>Javascript<span>(vs 1.8.5)<span></h2>
				</div>
				<div class="card card-head" id="box-ng" ng-hide="ngToggle">
					  <h2>Angular<span>(vs 1.4.4)<span></h2>
				</div>
				<div class="card card-head" id="box-yui" ng-show="yuiToggle">
					  <h2>YUI<span>(vs 3.8.0)<span></h2>
				</div>
				<div class="card card-head" id="box-aui" ng-show="auiToggle">
					  <h2>AUI<span>(vs 3.0.0)<span></h2>
				</div>
			</div>
		<!-- card header end -->
        <!-- card container start -->
        <!-- Initialization container start -->
			<div class="container cards-container inits" ng-controller="initCtrl" ng-hide="InitsToggle">
				<h2>
					Initialization<span>{{availableInits.length}}</span>
				</h2>
				<div class="card-group" ng-animate="'animate'" ng-repeat="init in availableInits = (inits | filter:searchCode)">
				  <div class="card card__jq" ng-hide="jqToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ init.jq }}</code></pre>
				  </div>
				  <div class="card card__js" ng-hide="jsToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ init.js }}</code></pre>
				  </div>
				  <div class="card card__ng" ng-hide="ngToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ init.ng }}</code></pre>
				  </div>
				  <div class="card card__yui" ng-show="yuiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ init.yui }}</code></pre>
				  </div>
				  <div class="card card__aui" ng-show="auiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ init.aui }}</code></pre>
				  </div>
				</div>
				<div class="validation">No Such Initialization are available.</div>
			</div>
			<!-- Initialization container end -->
			<!-- selectors container start -->
			<div class="container cards-container selectors" ng-controller="SelectorCtrl" ng-hide="SelectorsToggle">
				<h2>
					Selectors<span>{{availableSelectors.length}}</span>
				</h2>
				<div class="card-group" ng-animate="'animate'" ng-repeat="selector in availableSelectors = (selectors | filter:searchCode)">
				  <div class="card card__jq" ng-hide="jqToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ selector.jq }}</code></pre>
				  </div>
				  <div class="card card__js" ng-hide="jsToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ selector.js }}</code></pre>
				  </div>
				  <div class="card card__ng" ng-hide="ngToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ selector.ng }}</code></pre>
				  </div>
				  <div class="card card__yui" ng-show="yuiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ selector.yui }}</code></pre>
				  </div>
				  <div class="card card__aui" ng-show="auiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ selector.aui }}</code></pre>
				  </div>
				</div>
				<div class="validation">No Such Selectors are available.</div>
			</div>
			<!-- selectors container end -->
            <!-- events container start -->
			<div class="container cards-container events"  ng-controller="EventsCtrl" ng-hide="EventsToggle">
				<h2>
					Events<span>{{availableEvents.length}}</span>
				</h2>
				<div class="card-group" ng-animate="'animate'" ng-repeat="event in availableEvents = (events | filter:searchCode)">
				  <div class="card card__jq" ng-hide="jqToggle">    
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ event.jq }}</code></pre>
				  </div>
				  <div class="card card__js" ng-hide="jsToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ event.js }}</code></pre>
				  </div>
				  <div class="card card__ng" ng-hide="ngToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ event.ng }}</code></pre>
				  </div>
				  <div class="card card__yui" ng-show="yuiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ event.yui }}</code></pre>
				  </div>
				  <div class="card card__aui" ng-show="auiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ event.aui }}</code></pre>
				  </div>
				</div>
				<div class="validation">No Such Events are available.</div>
			</div>
			<!-- events container end -->
			<!-- styles container start -->
			<div class="container cards-container styles"  ng-controller="StylesCtrl" ng-hide="StylesToggle">
				<h2>
					CSS<span>{{availableStyles.length}}</span>
				</h2>
				<div class="card-group" ng-animate="'animate'" ng-repeat="style in availableStyles = (styles | filter:searchCode)">
				  <div class="card card__jq" ng-hide="jqToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ style.jq }}</code></pre>
				  </div>
				  <div class="card card__js" ng-hide="jsToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ style.js }}</code></pre>
				  </div>
				  <div class="card card__ng" ng-hide="ngToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ style.ng }}</code></pre>
				  </div>
				  <div class="card card__yui" ng-show="yuiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ style.yui }}</code></pre>
				  </div>
				  <div class="card card__aui" ng-show="auiToggle">
					  <pre class="card-text language-javascript"><code class="langauge-javascript">{{ style.aui }}</code></pre>
				  </div>
				</div>
				<div class="validation">No Such Styles are available.</div>
			</div>
			<!-- styles container end -->
        <!-- card container end -->
    </section>   
</main>
<!-- data container start -->
<!-- footer start -->
<footer>
    <div class="container">
			<span>&copy; <a href="http://ifiuse.com">ifiuse</a> | </span> 
			<span><a href="https://github.com/ifiuse/ifiuse.github.io/blob/master/LICENSE" target="_blank">Licence</a></span>
			<span><a href="https://twitter.com/kutec" class="twitter-follow-button" data-show-count="true">@kutec</a></span>
			<span><a href="https://twitter.com/manishweb2009" class="twitter-follow-button" data-show-count="true">@manishweb</a></span>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        
        try {
          var pageTracker = _gat._getTracker("UA-67493343-1");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
</footer>
<!-- footer end -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/prism.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
